@import 'tailwindcss';
@plugin "@tailwindcss/typography";


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  *:focus-visible {
    @apply outline-2 outline-red-600 duration-initial rounded-md outline-offset-1;
  }
}

@theme {
  --scale-97: 0.97;
  --font-sans: var(--font-geist-sans);
}

@utility prose {
  & :where(code) {
    &::before,
    &::after {
      content: none;
    }

    &:not(:has(*)) {
      @apply bg-red-100 px-1 py-px font-normal rounded-md;
    }
  }
}

::view-transition-old(nav-mobile-text) {
  /*animation: fade-out 100ms ease-out forwards;*/
}

::view-transition-new(nav-mobile-text) {
  /*animation: fade-in 150ms ease-in 200ms forwards;*/
  /*opacity: 0;*/
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Mobile menu dropdown animations */
.mobile-menu-popup {
  transform-origin: top right;
  transition:
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.mobile-menu-popup[data-starting-style],
.mobile-menu-popup[data-ending-style] {
  @apply opacity-0 scale-95
}
